<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.module.order.mapper.OrderMapper">

    <update id="payOrderCas">
        UPDATE t_order
        SET status = 1, pay_time = NOW()
        WHERE id = #{id} AND status = 0
    </update>

    <update id="cancelOrderCas">
        UPDATE t_order
        SET status = 4
        WHERE id = #{id} AND status = 0
    </update>

</mapper>
